<!DOCTYPE html>
<!DOCTYPE html>
<html>
<body>

<h1><%= title %> Login</h1>

<form method="post" action="/admin/login">
  Username:<br>
  <input type="text" name="name">
  <br>
  Password:<br>
  <input type="text" name="password">
  <br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>